  <!-- @for (item of $posts ; track item.id ) {
    <div class="container col-md-4 border p-3 my-4">
      <h3 class="text-center">{{ item.title }}</h3>
      <p>{{ item.body }}</p>
    </div>
  }@empty {
    <p>No posts found.</p>
  }
 -->

<div>
  <div class="container col-md-4 border p-3 my-4">
    <h3 class="text-center">Create Post</h3>
    <form (submit)="handleSubmit()">
      <input
        type="text"
        class="form-control mb-2"
        name="title"
        placeholder="Title"
        [(ngModel)]="blogInfo.title"
      />
      <textarea
        name="story"
        id=""
        class="form-control mb-2"
        placeholder="Story"
        [(ngModel)]="blogInfo.story"
      ></textarea>
      <input
        type="url"
        class="form-control mb-2"
        name="imageUrl"
        placeholder="Image Link"
        [(ngModel)]="blogInfo.imageUrl"
      />

      <button class="btn btn-outline-dark w-100" type="submit">Post</button>
    </form>
  </div>
</div>
