

<!-- <app-home></app-home> -->
<!-- <app-add-blog></app-add-blog> -->
<!-- <h1>Welcome to Angular Class, {{ name }}!</h1> -->

<!-- event binding -->
<!-- <button (click)="displayName('Damilare')">Click me</button><span>{{ myName }}</span> -->

<!-- @for (student of students; track $index) {
  <p>{{$index}}. {{student}}</p>
} -->

<!-- @if (isSuccess) {
  <p>successful</p>
}
@else {
  <p>Error</p>
} -->

<!-- <p>{{isSuccess? 'Successful': 'Error'}}</p> -->

<!-- one-way binding -->
 <!-- property binding, class binding, style binding -->
<!-- <hr> -->
 <!-- <a [href]="sqi_link">go to</a> -->
 <!-- <hr> -->
 <!-- <button [disabled] = "allowBtn" >Enter</button> -->

 <!-- class binding -->
 <!-- <p class="text-success text-style" [class]="isSuccess? 'text-success': 'text-danger'">Angular Class</p>
 <p [ngClass]="listOfClasses">Angular class</p> -->

 <!-- style bindind -->
  <!-- <p [style.fontSize]="font_size">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptates?</p> -->

<!-- two-way-binding -->
<!-- <input type="text" [(ngModel)] = "displayInput" placeholder="Type Here"> {{displayInput}} -->
<!-- <input type="checkbox" id="" [(ngModel)]="agree" >{{agree}}
<button [disabled]="!agree">enter</button> -->


<!-- <hr> -->

<!-- <div>
  <div class="container col-md-4 border p-3 my-4">
    <h3 class="text-center">Sign up</h3>
    <form (submit)="handleSubmit()">
      <input type="text" class="form-control mb-2" name="fullname" placeholder="Fullname" [(ngModel)]="userInfo.fullname">
      <input type="email" class="form-control mb-2" name="email" placeholder="Email" [(ngModel)]="userInfo.email">
      <input type="password" class="form-control mb-2" name="password" placeholder="Password" [(ngModel)]="userInfo.password">
      <div class="mb-2">
        <input type="checkbox" class="form-check-input me-2" name="agreeToTerms" [(ngModel)]="userInfo.agreeToTerms" >
        <label for="checkbox">I agree to the terms and conditions</label>
      </div>
      <button class="btn btn-primary w-100" [disabled]="!userInfo.agreeToTerms" type="submit">Sign up</button>
    </form>
  </div>
</div> -->


<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>


