<div class="container col-md-5 my-4 border p-3">
  <form>
    <h3 class="text-center">Sign up</h3>
    <input type="text" placeholder="Fullname" name="fullname" class="form-control mb-2">
    <input type="email" placeholder="Email" name="email" class="form-control mb-2">
    <input type="password" placeholder="Password" name="password" class="form-control mb-2">
    <input type="password" placeholder="Confirm Password" name="confirm_password" class="form-control mb-2">
    <button class="btn btn-dark w-100 mb-2" type="submit">Login</button>
    <hr>
    <p class="text-center">I have an account? <a [routerLink]="['/login']">Login
      </a>
    </p>

  </form>

</div>
